@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,1;1,200&display=swap');

/** llamando al selector id */
#contenedor{
    font-family: 'Ysabeau', sans-serif; /** tipo de fuente */
    /**
        px, rem
        1rem = 16px
        1.5rem = 24px
    */
    font-size: 1.8rem; /** tamaño de la fuente */
    border: 2px dotted black;
    text-align: center;
    padding: 15px; /** espacio del contenido y su cajita */
}

